In [3]:
import duckdb
import pandas as pd 
from pathlib import Path

# handling the path, i show where the database and sql file is 
duckdb_path = "../data/sakila.duckdb"
sql_load_path = "../sql/load_sakila.sql"

# Cleans old datafile if it exists, so thar we start a new every time
Path(duckdb_path).unlink(missing_ok = True)

# here i use the with statement to make sure the connection is closed after use
# i also  do the connection and the readiing of the sql file in the same line as Debbie did
# to ensure both are properly closed after use
with duckdb.connect(duckdb_path) as conn, open(sql_load_path, 'r') as ingest_script:
    # this runs the sql script that connects to the file 
    conn.execute(ingest_script.read())

    # This will import tables to pandas
    # also when the connection is open we can run sql queries, and also convert them to Pandas Data frames
    print("load the tables into memory")
    actor = conn.sql("SELECT * FROM actor").df()
    category = conn.sql("SELECT * FROM category").df()
    film = conn.sql("SELECT * FROM film").df()
    film_actor = conn.sql("SELECT * FROM film_actor").df()
    film_category = conn.sql("SELECT * FROM film_category").df()

#this verifies that the data has been loaded correctly by printing the first 5 rows of each table
# so that i cn ensure myself that the data has been loaded correctly
print(" data has been loaded correctly,")

print(f"testing it out. First movie: {film['title'][0]}")

load the tables into memory
 data has been loaded correctly,
testing it out. First movie: ACADEMY DINOSAUR

In [4]:
# task 1a, 
print(" This is presenting the anwser: Movies longer than 3 hours")

# here i use duckdb to query the data directly for the variable film
# my choice of the where to be in minutes (180 minutes = 3 hours), is beacuse the length column is in minutes
movie_3h_plus = duckdb.sql("""
    SELECT title, length
    FROM film
    WHERE length > 180
    ORDER BY length DESC
""").df()

print(movie_3h_plus)

 This is presenting the anwser: Movies longer than 3 hours
                 title  length
0         WORST BANGER     185
1        CHICAGO NORTH     185
2       CONTROL ANTHEM     185
3       DARN FORRESTER     185
4    SWEET BROTHERHOOD     185
5          GANGS PRIDE     185
6            HOME PITY     185
7   SOLDIERS EVOLUTION     185
8         POND SEATTLE     185
9        MUSCLE BRIGHT     185
10     MOONWALKER FOOL     184
11      THEORY MERMAID     184
12   CONSPIRACY SPIRIT     184
13    CRYSTAL BREAKING     184
14      SORORITY QUEEN     184
15      SONS INTERVIEW     184
16     SMOOCHY CONTROL     184
17      KING EVOLUTION     184
18      YOUNG LANGUAGE     183
19       SCALAWAG DUCK     183
20      FRONTIER CABIN     183
21       CATCH AMISTAD     183
22           WIFE TURN     183
23       MONSOON CAUSE     182
24       RECORDS ZORRO     182
25          REDS POCUS     182
26         SATURN NAME     182
27      SEARCHERS WAIT     182
28     BAKED CLEOPATRA     182
29       LOVE SUICIDES     181
30      LAWLESS VISION     181
31  RUNAWAY TENENBAUMS     181
32       JACKET FRISCO     181
33      INTRIGUE WORST     181
34     HOTEL HAPPINESS     181
35    HAUNTING PIANIST     181
36      STAR OPERATION     181
37         WILD APOLLO     181
38    ANALYZE HOOSIERS     181